#login-form{
    width: 500px;
}

#login-title-container {
    height: 250px;
    word-wrap: break-word;
    padding: 15px;
}

#login-title {
    font-size: 48px;
    font-family: 'Roboto Mono',
    monospace;
    padding: 5px;
    background: rgba(0, 0, 0, 0.233);
}

